{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2, {
      "ArrayExpression": "first",
      "VariableDeclarator": "first",
      "MemberExpression": 1,
      "ObjectExpression": "first",
      "FunctionDeclaration": {"parameters": "first"},
      "ignoredNodes": ["JSXElement *", "JSXElement"],
      "SwitchCase": 1
    }],
    "@typescript-eslint/naming-convention": ["error", {
        "selector": "interface",
        "format": ["PascalCase"],
        "prefix": ["I"]
      }],
    "key-spacing": ["error", {
      "mode": "minimum"
    }],
    "keyword-spacing": ["error"],
    "semi": ["error", "always"],
    "@typescript-eslint/no-var-requires": [0],
    "@typescript-eslint/no-this-alias": ["warn"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-unused-vars": 1,
    "@typescript-eslint/no-namespace": "off",
    "react/jsx-no-duplicate-props": [2],
    "react/jsx-no-target-blank": "off",
    "react/jsx-no-undef": [2],
    "react/no-children-prop": [2],
    "react/no-danger-with-children": [2],
    "react/no-deprecated": [2],
    "react/no-direct-mutation-state": [2],
    "react/no-find-dom-node": [2],
    "react/no-is-mounted": [2],
    "react/no-render-return-value": [2],
    "react/no-string-refs": [2],
    "react/no-unescaped-entities": [2],
    "react/no-unknown-property": [2],
    "react/no-unsafe": [2],
    "react/prop-types": [2],
    "react/react-in-jsx-scope": [2],
    "react/require-render-return": [2],
    "react/display-name": "off",
    "react/jsx-indent-props": ["error", "first"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "array-type": [0],
    "arrow-parens": 0,
    "array-bracket-spacing": ["error"],
    "comma-dangle": ["warn", "always-multiline"],
    "comma-spacing": ["error"],
    "comma-style": ["error"],
    "default-case": ["warn"],
    "default-case-last": ["error"],
    "default-param-last": ["error"],
    "eqeqeq": ["warn", "always"],
    "global-require": ["warn"],
    "space-before-function-paren": "off",
    "quotes": ["error", "single"],
    "max-classes-per-file": 0,
    "max-line-length": 0,
    "object-literal-sort-keys": 0,
    "one-variable-per-declaration": 0,
    "ordered-imports": 0,
    "prefer-conditional-expression": 0,
    "radix": "off",
    "object-literal-shorthand": 0,
    "prefer-const": 1,
    "prefer-object-spread": 0,
    "curly": 0,
    "triple-equals": 0,
    "forin": 0,
    "only-arrow-functions": 0,
    "interface-over-type-literal": 0,
    "no-trailing-whitespace": 0,
    "unified-signatures": 0,
    "space-within-parens": 0,
    "prefer-for-of": 0,
    "no-console": "off",
    "no-debugger": "off",
    "no-unused-vars": 1,
    "no-var-requires": 0,
    "no-var-keyword": 0,
    "no-extra-boolean-cast": "off",
    "no-case-declarations": "off",
    "no-empty": "off",
    "no-empty-interface": 0,
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "no-object-literal-type-assertion": 0,
    "no-conditional-assignment": 0,
    "no-internal-module": 0,
    "no-reference": 0,
    "no-submodule-imports": 0,
    "no-bitwise": "off",
    "no-this-assignment": 0,
    "no-string-literal": 0,
    "no-shadowed-variable": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "Reflect":true
  }
}
