@use '../../vars' as *;

// ─── Search button ───────────────────────────────
.nmo-search-btn {
  margin-top: 8px;
  width: 100%;
  padding: 8px 12px;
  font-size: $fs-md;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
